<h5 class="mb-3">AppEasier, Inc.</h5>

<p>This open-sources platform was hosted on Github that is free for lifetime developers, students, teachers & everybody can join one hand to support the community, <a href="https://lab.cybersafe.vn/donate/">Fressor</a>.</p>

<a target="_blank" href="https://themes.easynative.app/" class="btn btn-warning d-block mb-2"><i class="fa fa-file"></i> Documentation</a>

<a target="_blank" class="btn btn-danger d-block" href="https://themes.easynative.app/donation/"><i class="fa fa-coffee"></i> Buy me a coffee</a> 
